/* _content/CompanyApp.Component.Council.Finance/Component1.razor.rz.scp.css */
.my-component[b-tm9oea528w] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
