/* _content/CompanyApp.Component.Council.Land/Component1.razor.rz.scp.css */
.my-component[b-jz7y8klah6] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
