/* _content/CompanyApp.Component.Zoning/Component1.razor.rz.scp.css */
.my-component[b-i90ah7agkn] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
