/* _content/CompanyApp.Component.Tenders/Component1.razor.rz.scp.css */
.my-component[b-7rou8po4tv] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
