/* _content/CompanyApp.Component.CouncilCdf/Component1.razor.rz.scp.css */
.my-component[b-ve2j3wve0e] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
